body{
	background-color: #e9ebee !important;
}
.navbar{
	background: #4267b2 !important;
	height: 3.625em;
	margin-bottom: 3em;
}

.navbar a{
	color: #fff !important;
}
.navbar a:hover{
	text-decoration: none !important;
}

.btn-search{
	margin-left: -3em;
}

.input-search{
	width: 32.5em !important;
}

li.nav-icon a, a#notificationDropDownLink.nav-link.dropdown-toggle::after{
	color: #1a2947 !important;
}
li.nav-icon span.badge{
	margin-left: -.25em;
	margin-top: -.5em;
}
li.nav-link span.namba{
	font-weight: 100;
	color: #444;
}
.settings-drop a{
	color: #444 !important;
}

.profile-card{
	height: 32.5em;
	background-image: linear-gradient(rgba(30, 30, 30, 0.5), rgba(30, 30, 30, 0.5));
	background-position: center;
	background-attachment: fixed;	
}
.profile{
	width: 16.2em;
	height: 16.2em;
	position: absolute;
	margin-top: 25em;
	border: solid 2px #fff;
	border-radius: 50% 50%;
}
.spacer{
	height: 4em;
	margin-bottom: 5em;
}
.profile-image{
	width: 16em;
	height: 16em;
	font-style: 2.3em;
	border: 1px solid #333;
	border-radius: 50% 50%;

}
a.profile-name{
	color: #fff;
   	text-shadow:
      3px 3px 0 #000,
     -1px -1px 0 #000,  
      1px -1px 0 #000,
      -1px 1px 0 #000,
       1px 1px 0 #000;	
    font-size: 1.425em;	
	font-weight: bold;
	text-decoration: none;
	position: relative;
	top: -10em;
	left: 12em;
	text-transform: capitalize;
}
a.profile-name:hover{
	text-decoration: none;
	text-shadow: none;
	color: #fff;
	-webkit-text-stroke: 1px black;	
}
p.location{
	position: relative;
	top: -12em;
	left: 18em;
	color: #444;
	font-size: 1.125em;	
	text-transform: capitalize;
}
p.location a{
	color: #fff;
	padding: .6em;
   	text-shadow:
      3px 3px 0 #000,
     -1px -1px 0 #000,  
      1px -1px 0 #000,
      -1px 1px 0 #000,
       1px 1px 0 #000;	
}

.black-white{
	-webkit-filter: grayscale(90%);
	filter: grayscale(90%);
}
.timeline-nav{
	background-color: #fff !important;
	padding: .5rem;
	border: solid 1px #eee;
}

.timeline-nav ul.nav{
	margin-left: 45em;
}

.timeline-nav ul.nav a.nav-link{
	color: #385898 !important;
	cursor: pointer;
	text-decoration: none;
	font-weight: bolder;
}

.timeline-nav ul.nav li.nav-item:hover{
	background: #e9ebee;
}
.timeline-nav ul.nav a.nav-link span{
	color: #444;
	font-weight: 200;
}

.featured-image{
	width: 5em;
	margin-bottom: .175em;
}
.input-group-text{
	background-color: #fff !important;
	border:none;
}
 .card-img-overlay{
	  color: white;
	  -webkit-text-fill-color: white; /* Will override color (regardless of order) */
	  -webkit-text-stroke-width: .5px;
	  -webkit-text-stroke-color: black;
	  -moz-text-fill-color: white; /* Will override color (regardless of order) */
	  -moz-text-stroke-width: .5px;
	  -moz-text-stroke-color: black;
	  text-fill-color: white; /* Will override color (regardless of order) */
	  text-stroke-width: .5px;
	  text-stroke-color: black;	  
	  letter-spacing: 1px;
	  padding: 0;
 }